/*

RESET

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*

ROOT

*/

:root{
    --header-height: 80px;
}
/*

HEADER

*/

.logo-col{
    width: 150px;
}
/*

MAIN

*/

.my-sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    width: 150px;
}
/*

MEDIA QUERY

*/



/*

DEBUG

*/

.debug header{
    width: 100%;
    height: var(--header-height);
}


main>.main-content{
    max-height: calc(100vh - var(--header-height));
}
