/*

RESET

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*

ROOT

*/

:root{
    --header-height: 80px;
}
/*

HEADER

*/

/*

MAIN

*/

/*

MEDIA QUERY

*/



/*

DEBUG

*/

.debug header{
    width: 100%;
    height: var(--header-height);
    background-color: aqua;
}

.debug main{
    width: 100%;
}

main>*{
    max-height: calc(100vh - var(--header-height));
}
